.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;

    gap: 15px;

    height: 100vh; /* Sets the height to 100% of the viewport height */
    width: 100vw; 
}

.container > div {
    background-color: aquamarine;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / -1;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 300px 150px;
}

.sideRow1, .sideRow2, .sideRow3, .header {
    display: grid;
    padding: 15px;
}

.sideRow1 {
    font-size: 1.75rem;
}

.header {
    grid-template-columns: 1fr 500px repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

#searchbar {
    grid-column: 2 / 3;
    width: 400px;
    height: 20px;
    justify-self: start;
}

.newBtn, .uploadBtn, .shareBtn {
    height: 25px;
    width: 75px;
}

.justifyCenter {
    justify-self: center;
}

.mainContent {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.yourProjects {
    grid-row: 1 / 3;
}

.trending {
    grid-column: 2;
}

